#pie-pagina {
    background: $morado;
    color: $blanco;
    font-size: .85em;
    padding: 2.5rem 0;
    z-index: 101;
    position: relative;

    .widgettitle {
        color: $blanco;
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    .widget-footer {
        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: .7rem;

                img {
                    margin-right: 10px;
                }

                a {
                    color: $blanco;
                    text-decoration: none;
                }
            }
        }

        .logo-footer {
            margin-bottom: 1.5rem;
        }

        .redes {
            margin-top: 1rem;
            display: inline-block;

            a {
                margin-right: 15px;
            }
        }
    }
}