#top-header {
    border-bottom: 1px solid $gris;
    padding-bottom: .5rem;

    .redes-header {
        a {
            margin-right: 1rem;
        }
    }

    .contacto-header {
        ul {
            display: flex;
            justify-content: end;
            list-style: none;
            margin-bottom: 0;
            padding: 0;

            li {
                margin-left: 1rem;

                a {
                    color: $principal;
                    font-size: .8rem;
                    margin-left: .5rem;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

#cabecera-site {
    padding: .5rem 0;

    #identidad {
        width: 180px;
    }

    #menu-site {
        min-width: 600px;

        @media (max-width: 1200px) {
            min-width: auto;
            max-width: 100%;
        }

        @media (max-width: 991px) {
            display: none;
            margin-top: 1rem;
        }

        #menu-principal {
            @include flexible;
            list-style: none;
            padding: 0;

            li {
                margin: 0 .5rem;

                @media (max-width: 991px) {
                    margin: 0;
                }

                a {
                    @include reset-enlace;

                    &:hover {
                        color: $azul
                    }
                }

                &.current-menu-item {
                    a {
                        color: $azul
                    }
                }
            }
        }

        &.showMenu {
            display: initial;
            width: 100%;

            #menu-principal {
                background: $morado;
                flex-direction: column;

                li {
                    width: 100%;

                    a {
                        color: $blanco;
                        display: block;
                        padding: 1rem 0;
                        text-align: center;
                    }
                }
            }
        }
    }

    #open-menu {
        display: none;

        @media (max-width: 768px) {
            display: inline-block;
            position: absolute;
            font-size: 2rem;
            right: 0;
            top: 1.5rem;
            width: auto;
            border: none;
            background: transparent;
            color: $morado;
        }
    }

    #cta-header {
        align-items: center;
        display: flex;
        justify-content: end;
        padding-right: 0;

        ul {
            list-style: none;
            margin-right: 15px;
            margin-bottom: 0;
            padding: 0;

            li {
                margin-left: 1rem;

                a {
                    color: $principal;
                    margin-left: .5rem;
                    text-decoration: none;
                }
            }
        }

        p {
            margin-bottom: 0;

            a {
                @include button-cta;
                font-size: .8rem;
            }
        }
    }
}