#widgets-datos-mye {
    .item-widgets-datos-mye {
        border-right: 1px solid $gris;

        &:last-child {
            border: none;
        }

        .numero-item {
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 0;
        }

        .texto-item {
            margin-bottom: 0;
        }
    }

}

#bloque-nosotros-home {
    h2 {
        @include titulo-grande
    }

    .right-bloque-nosotros-home {
        a {
            @include button-cta
        }
    }
}

#listado-proyectos {
    .item-listado {
        display: flex;
        flex-wrap: wrap;

        .right-item {
            padding-right: 2rem;

            .titulo-item {
                @include titulo-grande
            }

            .tag-project {
                background-color: $azul;
                color: $blanco;
                display: inline;
                margin-bottom: 0;
                padding: 0.5rem 1rem;
                border-radius: 0 20px 20px 0;
            }
        }

        &:nth-child(2) {
            flex-direction: row-reverse;

            .right-item {
                .tag-project {
                    background-color: $celeste;
                }
            }
        }
    }


}

.seccion-ultimas-noticias {
    .titulo-seccion-noticias {
        @include titulo-grande
    }
}

.item-blog {
    .content-item-listado {
        border: 1px solid $gris;
        border-radius: 20px;
        padding: 1.5rem;

        a {
            color: $secundario;
            text-decoration: none;

            .titulo-item {
                color: $principal;
                font-size: 1.3rem;
                font-weight: 400;
            }

            p {
                color: $secundario
            }
        }
    }

    .date-item {
        color: $principal;

        span {
            color: $azul;
        }
    }
}