@mixin flexible {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin reset-enlace {
    color: $principal;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    text-decoration: none;
}

@mixin seccion-page {
    padding: 3rem 0;

    @media (max-width: 991px) {
        padding: 1.3rem 0;
    }
}

@mixin seccion-menor-page {
    padding: 2rem 0;

    @media (max-width: 991px) {
        padding: 1.3rem 0;
    }
}

@mixin titulo-seccion {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

@mixin titulo-menor-seccion {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

@mixin top-seccion {
    .top-seccion {
        margin-bottom: 4rem;

        h3 {
            @include titulo-menor-seccion;
            color: $azul;
        }

        p {
            font-size: 1.6rem;
            line-height: 1.3;

            @media(max-width: 991px) {
                font-size: 1.2rem;
            }
        }

        img {
            margin-top: 3rem;
        }
    }
}

@mixin button-cta {
    background: $azul;
    border: none;
    border-radius: 30px;
    color: $blanco;
    height: 50px;
    font-weight: 400;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    padding: 0 1.5rem;
    transition: .5 all ease-in;

    &:hover {
        color: $blanco;
        text-decoration: underline;
        transition: .5 all ease-in;
    }
}

@mixin titulo-seccion-interna {
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
}

@mixin titulo-grande-seccion-interna {
    color: $principal;
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
}

@mixin titulo-grande {
    color: $principal;
    font-size: 2.6rem;
    font-weight: 400;
    margin: 1.5rem 0;
}

@mixin roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@mixin arrow-slide {
    height: 50px;
    width: 30px;

    &::before {
        display: block;
        height: 50px;
        width: 30px;
    }
}